#navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

#window {
    background-color: #E9EDE9;
}

/* background-color: #CAD2C5;
    background-color: #84A98C;
    background-color: #52796F;
    background-color: #354F52;
    background-color: #2F3E46; */

html {
    background-color: #E9EDE9;
}